In [1]:
import requests
import pandas as pd

In [2]:
df = pd.read_csv('dataset_space_API_past_launches_raw.csv')
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,102,2020-09-03,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
90,103,2020-10-06,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1058,-80.603956,28.608058
91,104,2020-10-18,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
92,105,2020-10-24,Falcon 9,15600.0,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
93,106,2020-11-05,Falcon 9,3681.0,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,7,B1062,-80.577366,28.561857

In [3]:
falcon_9_df = df[df['BoosterVersion'] == 'Falcon 9']
falcon_9_df

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
5,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
6,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
7,11,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
8,12,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,102,2020-09-03,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
90,103,2020-10-06,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1058,-80.603956,28.608058
91,104,2020-10-18,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
92,105,2020-10-24,Falcon 9,15600.0,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
93,106,2020-11-05,Falcon 9,3681.0,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,7,B1062,-80.577366,28.561857

In [4]:
missing_percentage = falcon_9_df.isnull().mean() * 100
missing_percentage

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        5.555556
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [5]:
falcon_9_df['PayloadMass'].fillna(falcon_9_df['PayloadMass'].mean(), inplace=True)

# Check the resulting DataFrame
falcon_9_df

D:\study\conda\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,6,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
5,8,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
6,10,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
7,11,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
8,12,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,102,2020-09-03,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
90,103,2020-10-06,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1058,-80.603956,28.608058
91,104,2020-10-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
92,105,2020-10-24,Falcon 9,15600.000000,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
93,106,2020-11-05,Falcon 9,3681.000000,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,7,B1062,-80.577366,28.561857

In [7]:
def classify_landing_outcome(outcome):
    if outcome in ['True Ocean', 'True RTLS', 'True ASDS']:
        return 1
    else:
        return 0

# Apply the function to the Outcome column to create a new column 'LandingOutcome'
falcon_9_df['LandingOutcome'] = falcon_9_df['Outcome'].apply(classify_landing_outcome)
landing_outcome_counts = falcon_9_df['LandingOutcome'].value_counts()

# Check the resulting DataFrame
print(falcon_9_df.head())
landing_outcome_counts

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
4             6  2010-06-04       Falcon 9          NaN   LEO  CCSFS SLC 40
5             8  2012-05-22       Falcon 9        525.0   LEO  CCSFS SLC 40
6            10  2013-03-01       Falcon 9        677.0   ISS  CCSFS SLC 40
7            11  2013-09-29       Falcon 9        500.0    PO   VAFB SLC 4E
8            12  2013-12-03       Falcon 9       3170.0   GTO  CCSFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
4    None None        1     False   False  False        NaN    1.0
5    None None        1     False   False  False        NaN    1.0
6    None None        1     False   False  False        NaN    1.0
7  False Ocean        1     False   False  False        NaN    1.0
8    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude  LandingOutcome
4            0  B0003  -80.577366  28.561857               0
5            0  B0005  -80.577366  28.561857               0
6            0  B0007  -80.577366  28.561857               0
7            0  B1003 -120.610829  34.632093               0
8            0  B1004  -80.577366  28.561857               0

C:\Users\59704\AppData\Local\Temp/ipykernel_1690536/3738815204.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  falcon_9_df['LandingOutcome'] = falcon_9_df['Outcome'].apply(classify_landing_outcome)

1    60
0    30
Name: LandingOutcome, dtype: int64

In [7]:
orbit_counts = falcon_9_df['Orbit'].value_counts()

# Calculate the number and occurrence of mission outcome per orbit type
outcome_per_orbit = falcon_9_df.groupby('Orbit')['LandingOutcome'].value_counts().unstack()

orbit_counts, outcome_per_orbit

(GTO      27
 ISS      21
 VLEO     14
 PO        9
 LEO       7
 SSO       5
 MEO       3
 SO        1
 HEO       1
 GEO       1
 ES-L1     1
 Name: Orbit, dtype: int64,
 LandingOutcome     0     1
 Orbit
 ES-L1            NaN   1.0
 GEO              NaN   1.0
 GTO             13.0  14.0
 HEO              NaN   1.0
 ISS              8.0  13.0
 LEO              2.0   5.0
 MEO              1.0   2.0
 PO               3.0   6.0
 SO               1.0   NaN
 SSO              NaN   5.0
 VLEO             2.0  12.0)

In [8]:
numerical_cols = falcon_9_df.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = falcon_9_df.select_dtypes(include=['object']).columns.tolist()

# Calculate the number of launches on each site
launch_site_counts = falcon_9_df['LaunchSite'].value_counts()

numerical_cols, categorical_cols, launch_site_counts

(['FlightNumber',
  'PayloadMass',
  'Flights',
  'Block',
  'ReusedCount',
  'Longitude',
  'Latitude',
  'LandingOutcome'],
 ['Date',
  'BoosterVersion',
  'Orbit',
  'LaunchSite',
  'Outcome',
  'LandingPad',
  'Serial'],
 CCSFS SLC 40    55
 KSC LC 39A      22
 VAFB SLC 4E     13
 Name: LaunchSite, dtype: int64)